.form {
    width: 400px;
    &__label {
        position: relative;
        &::before {
            content: 'Message';
            position: absolute;
            top: 0px;
            left: -250px;
            font-size: 20px;
            color: rgb(114, 114, 151);
            transition: all .5s;
        }
    }
    &__text {       
        padding: 10px 0;
        width: 270px;
        font-size: 15px;
        font-weight: 500;
        color: rgb(114, 114, 151);
        border: none;
        outline: none;
        border-bottom: 2px solid rgb(144, 144, 192);
        &:focus {
            border-color: darken(rgb(144, 144, 192), 30%);
        }
        &:focus + .form__label::before {
            top: -12px;
            left: -260px;
            font-size: 10px;
            color: rgb(144, 144, 192);
        }
    }
    &__btn {
        margin-left: 10px;
        padding: 10px 17px;
        background-color: rgb(64, 124, 235);
        color: cornsilk;
        border: 1px solid rgb(64, 124, 235);
        outline: none;
        cursor: pointer;
        border-radius: 4px;
        text-transform: uppercase;
        &:hover {
            background-color: darken(rgb(64, 124, 235), 15%);
            color: lighten(cornsilk, 15%);
        }
    }
}