.list {
    width: 400px;
    background-color: rgb(254, 255, 254);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    &__item {
        padding: 7px 12px;
        margin-bottom: 5px;
        background-color: rgb(208, 255, 255);
        text-align: right;
        border-radius: 10px;
        color: rgb(45, 102, 102);
    }
}